@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    --color-50: #f1f8f4;
    --color-100: #ddeee3;
    --color-200: #bdddca;
    --color-300: #91c4aa;
    --color-400: #62a585;
    --color-500: #418867;
    --color-600: #2d674e;
    --color-700: #265642;
    --color-800: #204537;
    --color-900: #1b392d;
    --color-950: #0e201a;

}

@font-face {
    font-family: Jakarta Sans;
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: I Jakarta Sans;
    src: url('./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

app-root {
    height: 100%;
    display: block;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: Jakarta Sans, I Jakarta Sans, sans-serif;
    color: var(--color-50);
    background-color: #0E201A;
    height: 100%;
}