<article class="h-full flex flex-col gap-5">
    <div>
        <h1 class="text-xl font-bold leading-7 text-gray-100 sm:truncate sm:text-3xl sm:tracking-tight mb-4">Split Smart
        </h1>
        <p class="text-xs">SplitSmart is an application intended to simplify the process of splitting expenses among a
            group of people.
        </p>
        <p class="hidden">
            Whether it's for a group trip, shared household expenses, or any other situation where multiple people need
            to share costs, SplitSmart makes it easy to manage and track expenses and determine how much each person
            owes.
        </p>
    </div>
    <app-expenses-list />
</article>